<div class="offcanvas-header">
  <h4 class="offcanvas-title" id="offcanvas-basic-title">Редактирование профиля</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="offcanvas-body">
    <div class="mb-3">
      <label>Имя</label>
      <div class="input-group">
        <app-form-control appFormControlName="name">
          <app-input-text
            appFormControlName="name">
          </app-input-text>
        </app-form-control>
      </div>
    </div>

    <div class="mb-3">
      <label>Био</label>
      <div class="input-group">
        <app-form-control appFormControlName="bio">
          <app-input-text
            appFormControlName="bio">
          </app-input-text>
        </app-form-control>
      </div>
    </div>

    <div class="mb-3">
      <label for="user-date-birthday">Дата рождения</label>
      <div class="input-group">
        <app-form-control appFormControlName="dateBirthday">
          <input
            formControlName="dateBirthday"
            id="user-date-birthday"
            class="form-control"
            placeholder="Выберите вашу дату рождения"
            type="date"
          />
        </app-form-control>
      </div>
    </div>

<!--  TODO ССылки на соц сети  -->

    <div class="text-end">
      <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
    </div>
  </div>
</form>
