.card-link {
  cursor: pointer;
}

.card-title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
