@mixin map-control() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding: 32px;
}

@mixin point-form-actions($justify-content: space-between) {
  display: flex;
  justify-content: $justify-content;
}
