<ng-container [formGroup]="form" *ngIf="form">
  <input class="form-control" formControlName="pointDateTime" type="datetime-local" [min]="currentDate" max="">

  <div class="button-container mt-3" >
    <button type="button" class="btn btn-primary btn-sm" (click)="goPrev()">Назад</button>

    @if (form.value.pointDateTime) {
      <button type="button" class="btn btn-primary btn-sm" (click)="goNext(successMetingTemplate)">Продолжить</button>
    }
  </div>
</ng-container>

<ng-template #successMetingTemplate>
  <a routerLink="/" >Ваша встреча</a>
</ng-template>
