@import "../../styles/palete";

:host {
  @include map-control;
}

::ng-deep {
  .input-address-popup-container {
    width: calc(100vw - 64px);
    max-height: 40vh;
    overflow: auto;
    margin-top: 8px !important;
  }
}

.button-container {
  @include point-form-actions;
}
