<div class="meeting-filter-button">
  <button class="btn btn-primary" (click)="open(content)">
    <i class="bi bi-funnel-fill"></i>
  </button>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Фильтры</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="form" (ngSubmit)="search(offcanvas)">
      <div class="mb-3">
        <label for="meeting-date">День встречи</label>
        <div class="input-group">
          <input
            formControlName="pointDate"
            id="meeting-date"
            class="form-control"
            placeholder="Выберите день встречи"
            name="dp"
            type="date"
          />
        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-outline-secondary">Найти</button>
      </div>
    </form>
  </div>
</ng-template>


